# Docusaurus
/site/.docusaurus/
/site/build/

# Python
/.coverage
/htmlcov/
__pycache__/
*.pyc
venv/
*.egg-info/

# Node
/node_modules/
/site/node_modules/
package-lock.json
/site/package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db